@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #8C7853;       /* Vàng đồng cổ điển / Khaki trầm */
  --bg-warm: #FBF9F6;       /* Trắng kem ấm / Ấm áp như phòng trưng bày */
  --text-dark: #1F1E1B;     /* Đen than mờ tinh tế */
  --text-muted: #7E7A74;    /* Xám bùn nhạt nhã nhặn */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-warm);
  color: var(--text-dark);
  font-family: 'Playfair Display', 'Didot', 'Segoe UI', serif; /* Font Serif sang trọng cho tiêu đề */
}